.bg-layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    background-image: url("../img/bg-starwars.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
}
.container{
    background-color: transparent!important;
    color: #fff!important;
}
body {
    color: #fff!important;
}
#character-list {
    font-family: 'Poppins',Arial, sans-serif;
    flex-wrap: wrap;
}

#character-list p {
    margin: 10px 0;
}  